<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weather.mvc.mapper.WeatherMapper">

    <select id="insertWeather" parameterType="com.example.weather.mvc.vo.WeatherVO">
        <![CDATA[

        ]]>
    </select>

    <select id="updateWeather" parameterType="com.example.weather.mvc.vo.WeatherVO">
        <![CDATA[

        ]]>
    </select>
</mapper>
